body {
  font-family: 'Montserrat', sans-serif;
  /* font-size: 100; */
  text-transform: uppercase;
  background: url(images/render2.jpeg) no-repeat, linear-gradient(#6b6b6b, #707070, #6f6f6f);
  background-size: 1200px;
  /* background-repeat: no-repeat; */
  background-attachment: fixed;
  background-position: left top;
  position: relative;
}

a {
  text-decoration: none;
  color: black;
}

.tag {
  background-image: linear-gradient(to right,
    #EE3824,
    #EE3824 50%,
    #000 50%);
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  background-clip: none;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

.tag::before {
  content: '';
  background-color: white 75%;
  position: absolute;
  left: 12.5%;
  bottom: 3px;
  width: 75%;
  height: 0;
  z-index: -1;
  transition: all .3s ease-in-out;
}

.tag:hover::before {
  content: '';
  background: white;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

.tag:hover {
  background-position: 0;
}

.tag:hover::before {
  width: 100%;
}

.tag2 {
  background-image: linear-gradient(to right,
    #EE3824,
    #EE3824 50%,
    #000 50%);
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  background-clip: none;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

.tag2:before {
  content: '';
  background: #DB2221;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

.tag2:hover {
  background-position: 0;
}

.tag2:hover::before {
  width: 100%;
}

hr {
  border-style: solid none none;
  color: #0B2B37 50%;
  width: 75%;
  margin: 0 auto;
}

#home {
  font-weight: 700;

}

#home:hover {
  background: white;
}

/* Navbar */

#navbar-nav {
  width: 50%;
}

#brandName {
  margin-left: 50px !important;
  margin-right: 50px !important;
}

.dropdown-hover:hover .dropdown-menu {
  display: block;
  width: 150px !important;
  height: 80px !important;
  background: white;
  border: none;
}
.dropdown-menu {
  display: none;
  position: absolute;
  z-index: 1000;
}

.droptext {
  text-align: center;
  margin-top: 10px;
}

.dropimage {
  /* padding: 35px 0; */
  height: 125px;
}

.porta-img {
  width: 200px;
}

.porta-tag {
  text-transform: none;
  display: block;
  margin: 2% 5%;
  font-family: 'Montserrat-Bold', sans-serif;
  font-weight: bold;
  font-size: large;
}

.red {
  color: #EE3824;
}

.blue {
  color: #0B2B37;
}

.mbold {
  font-family: 'Montserrat-Bold', sans-serif;
  font-weight: bold;
  font-size: large;
}

/* Landing Text */

.landing-text {
  height: 630px;
}

#future {
  position: relative;
  top: 20%;
  left: 65%;
  color: white;
  font-size: 75px;
  /* padding-bottom: 250px; */
  display: inline;
}

/* Problem and Solution */

.prob-sol {
  height: 715px;
  background-color: white;
  padding: 50px;
}

.box {
  margin: auto;
}

/* Portaprinter Page  */

.animation {
  height: 625px;
  /* margin-top: 7.5%; */
  background: url(images/PortaPrinterAnimationvideo.gif) no-repeat;
  background-size: 1500px;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}

#product-title {
  text-align: center;
  text-shadow: #0B2B37;
  font-weight: 900;
  font-size: 45px;
  background-color: rgba(245, 245, 245, 0.662);
  transition: opacity 1s ease-in-out; /* added transition */
  opacity: 1; /* set initial opacity */
}

#gif {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.description {
  height: 625px;
  margin: 50px;
}

.product {
  text-align: right;
  color: #000;
}

.product-left {
  text-align: left;
  color: #000;
}

.description-text {
  text-transform: none;
  font-weight: 800;
}

/* Out Story Page */



.statements {
  margin-top: 20px;
  font-weight: 1000;
}

.mega-slider {
  padding: 6% 0;
}

.carousel {
  padding: 0;
}

.slider {
  margin-left: auto;
  margin-right: auto;
  width: 97.5%;
}

/* PortaConnect Page */

.porta-connect-keyword {
  font-size: larger;
  font-weight: 700;
  color: #0B2B37;
}

/* Footer */

.footer {
  text-align: right;
  text-transform: none;
  font-weight: 700;
  padding-top: 2%;
}

#Ishaan {
  color: #EE3824;
}

#Ishaan:hover {
  color: #0B2B37;
}